
.custom-nav {
    background-color: rgb(135, 198, 235);
}

.forecast {
    color: #fff;
}

.magnifier {
    color: #fff;
}

.custom-header-text{
    color: #fff;
}

.custom-nav-head {
    background-color: rgb(74, 150, 221);
}